@use "../../../../../styles.scss";

.login {

  &__main {
    background-image: url("/assets/images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    @extend %center;
    @extend %darken-bg;

    & > section:has(form) {
      width: 400px;
    }
  }
}
