<article class="control has-icons-left custom-field">
  <section class="field__input">
    <span class="icon is-left">
      <fa-icon [icon]="data.icon"></fa-icon>
    </span>
    <div aria-label="label et champs de saisi">
      <label [for]="data.id"></label>
      <input
        [id]="data.id"
        [placeholder]="data.placeholder"
        [type]="data.type ? data.type : 'text'"
        class="input is-normal"
        [(ngModel)]="model[data.id]"
      />
    </div>
  </section>
  <section
    [id]="data.id+'-error'"
    class="field__error"
  >
  <ng-container *ngIf="errorMessages[data.id]">
    <small>{{ errorMessages[data.id]}}</small>
  </ng-container>
  </section>
</article>
