.custom-form {
  padding: 10px;
  box-shadow: 0 0 5px #000;
  width: 100%;
  & > section {
    display: flex;
  }

  & > section:first-of-type {
    flex-direction: column;
  }

  & > section:nth-last-of-type(2) {
    justify-content: space-between;
  }

  & > section:last-of-type {
    align-items: center;
    height: 50px;
    color: rgb(248, 84, 84);
  }
}
